*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    line-height: normal;
}

body{
    background-color: #212529;
    color: #212529;
    line-height: 1.6em;
}

header{
  background-color: rgba(0,0,0,0);
  padding: 10px;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

header .container{
  width: 95%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(32, 32, 32);
  align-items: center;
  border: solid 4px;
  border-color: rgb(216, 184, 0);
  border-radius: 40px;
}

header .logo{
  height: 80px;
  width: 80px;
}

header img{
  height: 100%;
  width: 100%;
}

header nav{
  display: flex;
  flex-direction: column;
  font-display: none;
  align-items: center;
}

header ul{
  align-items: center;
  display: flex;
  list-style: none;
}

header li{
  padding: 5px;
  font-size: 1.3em;
}

header a{
  text-decoration: none;
  font-weight: bold;
  color: gold;
}

#hero {
  margin-top: 118px;
  height: 80vh;
}

#hero img{
  width: 100%;
  height: 80vh;
}

#sobrenosotros {
  align-items: center;
}

#sobre-nosotros .container{
  text-align: center;
  background-color: rgba(30,30,30);
  color: white;
  padding: 30px;
}

#sobre-nosotros h1{
  margin-bottom: 15px;
  color: rgb(216, 184, 0);
}

#sobre-nosotros p{
}

#caracteristicas{
  background-color: rgb(231, 231, 231);
}

#caracteristicas .container{
  text-align: center;
  padding: 20px;
  align-items: center;
}

#caracteristicas .carac-titulo{
  margin-bottom: 30px;
  color: goldenrod;
  font-size: 1.5em;
}

#caracteristicas .carac{
  padding: 10px;
}

#caracteristicas h3{
  font-size: 1.5em;
  color: black;
  font-weight: bold;
}

#caracteristicas p{
  margin-bottom: 10px;
}

#caracteristicas img{
  height: 30vh;
  width: 30vh;
}




#modelos img{
  display: none;
}


#modelos p{
  display: none;
}

#modelos button{
  display: none;
}

#modelos{
  background-color: #212529;
}

#modelos .container{
  text-align: center;
  padding: 20px;
}

#modelos h2{
  padding: 10px;
  font-size: 35px;
  color: gold;
  margin-bottom: 20px;
}

#modelos h3{
  white-space: nowrap;
}

#modelos .modelos-caja{
  color: gold;
  font-size: 25px;
}

.carta-modelos:first-child{
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/Grizzly/imagenes/gato3.jpeg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.carta-modelos:nth-child(2){
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/Grizzly/imagenes/gato3.jpeg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.carta-modelos:nth-child(3){
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/Grizzly/imagenes/gato3.jpeg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
  margin-bottom: 20px;
  border-radius: 10px;
}





#contactos{
  background-color: rgb(231, 231, 231);
  padding: 15px;
}


#contactos .container{
  text-align: center;
  
}

#contactos .h1{
  color: goldenrod;
}

#contactos ul{
  list-style: none;
}


#contactos .redes{
  text-align: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: solid 5px black;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.15em;
}

#contactos img{
  width: 20px;
}

#contactos .redes:hover{
  background-color: black;
  color: gold;
}


footer{
  color: rgb(110, 82, 11);
  text-align: center;
}