*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    line-height: normal;
}

a{
  text-decoration: none;
}

body{
    background-color: #212529;
    color: #212529;
    line-height: 1.6em;
}

header{
  background-color: rgba(0,0,0,0);
  padding: 10px;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

header .container{
  width: 97%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(32, 32, 32);
  align-items: center;
  border: solid 4px;
  border-color: rgb(216, 184, 0);
  border-radius: 40px;
}

header .logo{
  height: 60px;
  width: 60px;
}

header img{
  height: 100%;
  width: 100%;
}

header nav{
  display: flex;
  flex-direction: column;
  font-display: none;
  align-items: center;
}

header ul{
  align-items: center;
  display: flex;
  list-style: none;
}

header li{
  padding: 6px;
  margin: 2px;
  font-size: 1.2em;
  background-color: #131211;
  border-radius: 30px;
}

header a{
  text-decoration: none;
  font-weight: bold;
  color: gold;
}

#hero {
  margin-top: 118px;
  height: 80vh;
}

#hero img{
  width: 100%;
  height: 80vh;
}

#sobrenosotros {
  align-items: center;
}

#sobre-nosotros .container{
  text-align: center;
  background-color: rgba(30,30,30);
  color: white;
  padding: 30px;
}

#sobre-nosotros h1{
  margin-bottom: 30px;
  color: rgb(216, 184, 0);
}

#caracteristicas{
  background-color: rgb(231, 231, 231);
}

#caracteristicas .container{
  text-align: center;
  padding: 30px;
  align-items: center;
}

#caracteristicas .carac-titulo{
  margin-bottom: 30px;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
}

#caracteristicas .carac{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#caracteristicas h3{
  font-size: 1.5em;
  color: black;
  font-weight: bold;
}

#caracteristicas p{
  margin-bottom: 10px;
}

#caracteristicas img{
  height: 28vh;
  width: 28vh;
}




#modelos img{
  display: none;
}


#modelos p{
  display: none;
}

#modelos button{
  display: none;
}

#modelos{
  background-color: #212529;
}

#modelos .container{
  text-align: center;
  justify-content: center;
  padding: 20px;
}

#modelos h1{
  padding: 10px;
  font-size: 35px;
  color: gold;
  margin-bottom: 20px;
}

#modelos h2{
  padding: 10px;
  font-size: 45px;
  color: gold;
  margin-bottom: 20px;
}

 

.carta-modelos1{
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/Grizzly/imagenes/m1portada.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 12em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px #131211;
}

.carta-modelos2{
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/Grizzly/imagenes/m2portada.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 12em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px #131211;
}

.carta-modelos3{
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/Grizzly/imagenes/m3portada.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 12em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px #131211;
}





#contactos{
  background-color: rgb(231, 231, 231);
  padding: 20px;
}


#contactos .container{
  text-align: center;
}

#contactos h1{
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 2.3em;
}


#contactos ul{
  list-style: none;
}

#contactos .redes{

  background-color: rgba(0,0,0,0.05);
  text-align: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: solid 5px black;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  
  height: 50px;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #212529;
}

#contactos img{
  width: 20px;
  margin-right: 10px;
}

#contactos .redes:hover{
  background-color: black;
  color: gold;
}

#contactos .redes:hover img{
  display: none;
}

footer{
  padding: 10px;
  color: rgb(58, 54, 1);
  text-align: center;
}