*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    line-height: normal;
}


body{
    background-color: #212529;
    color: #ffffff;
    line-height: 1.6em;
}


h1{font-size: 2em;}
p{font-size: 0.9em;}



header{
  padding: 10px;
  height: 10vh;
  background-color: rgba(255, 245, 106, 0.144);
}

header .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  height: 60px;
  width: 60px;
}

header .desplegable{
  height: 30px;
  width: 30px;
}

header img{
  height: 100%;
  width: 100%;
}

header a{
  text-decoration: none;
  font-weight: bold;
  color: gold;
}







#hero{
  background-color: rgb(248, 248, 248);
  color: black;
  padding-top: 10px;
  height: 80vh;
}

#hero img{
  height: 70vh;
}




#informacion { 
  margin: 10px;
  height: 60vh;
}






#contactos{
  background-color: rgb(231, 231, 231);
  padding: 20px;
}

#contactos .container{
  text-align: center;
}

#contactos h1{
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 2.3em;
}

#contactos ul{
  list-style: none;
}

#contactos .redes{

  background-color: rgba(0,0,0,0.05);
  text-align: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: solid 5px black;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  
  height: 50px;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #212529;
}

#contactos img{
  width: 20px;
  margin-right: 10px;
}

#contactos .redes:hover{
  background-color: black;
  color: gold;
}

#contactos .redes:hover img{
  display: none;
}
