*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    line-height: normal;
}


body{
    background-color: #212529;
    color: #ffffff;
}


h1{font-size: 2em;}
p{font-size: 0.9em;}

.nav{
  background-color: rgb(0, 0, 0);
}

.nav_container{
  background-color: rgb(0, 0, 0);

  width: min(90%, 750px);
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  
  --transform-menu-show: translate(-100%);
}

.nav_container:has(.nav_input:checked){
  --transform-menu-show: translate(0);
}


.nav_figure, .nav_toggle{
  z-index: 10;
}

.nav_input{
  display: none;
}

.nav_toggle{
  width: 40px;
  height: 40px;
  background-image: url(/Grizzly/imagenes/menulineas.png);
  background-size: cover;
  cursor: pointer;
}

.nav_list{
  transform: var(--transform-menu-show);
  transition: .5s transform;

  position: fixed;
  inset: 0;
  display: grid;
  place-content: center;
  gap: 2rem;
  text-align: center;

  padding: 1.5rem 5%;
  background-color: rgb(0, 0, 0);
  list-style: none;
}

.nav_link{
  color: gold;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
}

.nav_figure img{
  height: 50px;
  width: 80px;
}





#hero{
  padding-top: 10px;
  height: 80vh;
}

#hero h1{
  text-align: center;
  font-size: 3em;
  color: gold;
  text-shadow: 1.5px 1.5px 0 rgb(0, 0, 0);
}

#hero img{
  height: 70vh;
}




#informacion { 
  margin: 10px;
  height: 60vh;
}






#contactos{
  background-color: rgb(231, 231, 231);
  padding: 20px;
}

#contactos .container{
  text-align: center;
}

#contactos h1{
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 2.3em;
}

#contactos ul{
  list-style: none;
}

#contactos .redes{

  background-color: rgba(0,0,0,0.05);
  text-align: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: solid 5px black;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  
  height: 50px;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #212529;
}

#contactos img{
  width: 20px;
  margin-right: 10px;
}

#contactos .redes:hover{
  background-color: black;
  color: gold;
}

#contactos .redes:hover img{
  display: none;
}

footer{
  padding: 10px;
  color: rgb(58, 54, 1);
  text-align: center;
}